.home-container {
    position: relative;
    background-color: #333; /* Colore di sfondo scuro */
    height: 90vh; /* Altezza a schermo intero */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Nasconde eventuali overflow */
    padding: 0; /* Spaziatura interna */
    background-image: url('../assets/images/zuel-abitato.jfif'); /* Immagine di sfondo */
    background-size: cover; /* Adatta l'immagine per coprire tutto lo spazio disponibile */
    background-position: center; /* Centra l'immagine */
    text-align: center; /* Allinea il testo al centro */
    z-index: 1; /* Assicurati che abbia un valore z-index minore rispetto alla navbar */
}

.home-content {
    position: relative;
    z-index: 1; /* Posto davanti all'immagine di sfondo */
    color: #fff; /* Colore del testo */
    padding: 2vh;
    max-width: 90%; /* Larghezza massima del contenuto */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo con opacità per il contenuto */
    border: 2px solid #555; /* Bordo scuro */
    border-radius: 15px; /* Arrotondamento del bordo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Ombra per il contenuto */
    margin: 2vh; /* Margine intorno al contenuto */
}

.home-content h1 {
    font-size: 2.5rem; /* Dimensione del titolo */
    margin-bottom: 1vh;
    font-weight: bold;
}

.home-content p {
    font-size: 1.2rem; /* Dimensione del paragrafo */
    line-height: 1.6;
    margin-bottom: 2vh;
    font-weight: bold;
}

/* Barra nera in fondo */
.home-bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7vh; /* Altezza della barra */
    background-color: rgba(0, 0, 0, 0.7); /* Sfondo scuro leggermente trasparente */
    z-index: 0; /* Dietro il contenuto principale */
}

/* Media queries per design responsivo */
@media (max-width: 768px) {
    .home-content {
        max-width: 95%; /* Riduci la larghezza massima su schermi più piccoli */
        padding: 3vh;
    }

    .home-content h1 {
        font-size: 2rem; /* Riduci la dimensione del titolo su schermi più piccoli */
    }

    .home-content p {
        font-size: 1rem; /* Riduci la dimensione del paragrafo su schermi più piccoli */
    }
}

@media (max-width: 480px) {
    .home-content {
        max-width: 100%; /* Usa tutta la larghezza su schermi molto piccoli */
        padding: 4vh;
    }

    .home-content h1 {
        font-size: 1.8rem; /* Riduci ulteriormente la dimensione del titolo su schermi molto piccoli */
    }

    .home-content p {
        font-size: 0.9rem; /* Riduci ulteriormente la dimensione del paragrafo su schermi molto piccoli */
    }
}
