/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f0f2f5; /* Colore di sfondo */
    font-weight: bold; /* Testo in grassetto */
    /*background-image: url('../assets/images/zuel-abitato.jpg');
    background-size: cover;
    background-position: center; */
}

.login-card {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

input {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 90%;
    padding: 0.5rem;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.submit-btn:hover {
    background: #0056b3;
}

.toggle-btn {
    margin-top: 1rem;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.toggle-btn:hover {
    text-decoration: underline;
}

.error {
    background: #f8d7da;
    color: #721c24;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}
