.navbar {
    background-color: #333; /* Colore di sfondo della barra di navigazione */
    padding: 2vh 1vh; /* Padding interno per spaziatura */
}

.navbar-nav {
    list-style-type: none; /* Rimuove i punti elenco */
    padding: 0;
    margin: 0;
    display: flex; /* Imposta il layout dei link in linea */
}

.nav-item {
    margin-right: 2vh; /* Spaziatura tra i link */
    background-color: rgba(255, 255, 255, 0.2); /* Colore di sfondo chiaro e trasparente per ogni riquadro */
    padding: 1vh 2vh; /* Padding per i riquadri */
    border-radius: 5px; /* Bordo arrotondato per i riquadri */
    transition: background-color 0.3s; /* Transizione del colore di sfondo al passaggio del mouse */
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Cambia colore di sfondo al passaggio del mouse */
}

.nav-link {
    text-decoration: none; /* Rimuove il sottolineato dai link */
    color: #fff; /* Colore del testo dei link */
    font-weight: bold; /* Testo in grassetto */
    transition: color 0.3s; /* Transizione del colore al passaggio del mouse */
}

.nav-link:hover {
    color: #f0f0f0; /* Cambia colore del testo al passaggio del mouse */
}
