/* Styles for ScadenzaList */

.scadenza-list-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.scadenza-list h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto; /* Enable horizontal scrolling for the table if needed */
}

.scadenza-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.scadenza-table th,
.scadenza-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.scadenza-table th {
    background-color: #f2f2f2;
    color: #333;
}

.scadenza-list-item:hover {
    background-color: #f1f1f1;
}

.scadenza-list-item .btn {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.scadenza-list-item .btn:hover {
    background-color: #005bb5;
}

.scadenza-list-item .btn-delete {
    background-color: #ff3b30;
}

.scadenza-list-item .btn-delete:hover {
    background-color: #c4302b;
}