/* Styles for FatturaList */

.fattura-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fattura-list {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 1200px;
    width: 100%;
}

.fattura-list h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.fattura-list ul {
    list-style: none;
    padding: 0;
}

.fattura-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.fattura-list-item:hover {
    background-color: #f1f1f1;
}

.fattura-list-item span {
    flex-grow: 1;
}

.fattura-list-item .btn {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.fattura-list-item .btn:hover {
    background-color: #005bb5;
}

.fattura-list-item .btn-delete {
    background-color: #ff3b30;
}

.fattura-list-item .btn-delete:hover {
    background-color: #c4302b;
}

.fattura-list-item.highlight {
    background-color: #ffffcc;
}

.fattura-detail {
    margin-top: 20px;
    width: 100%;
}